body {
  background: #111;
  color: #eee;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

h1.placeholder {
  font-size: 64px;
  text-align: center;
  margin-top: 12px;
  text-transform: uppercase;
}

.subheading {
  font-size: 12px;
  text-align: right;
  margin: 4px;
  width: 25%;
}

header.flex-col {
  align-items: center;
}

#featured-images {
  width: 80%;
  margin-top: 40px;
  height: 500px;
}

.images {
  justify-content: space-between;
  height: 420px;
}
.images .featured-image:hover p {
  opacity: 0.6;
}
.images .featured-image p {
  margin-top: -50px;
  font-size: 12px;
  padding: 8px 12px;
  text-align: right;
  opacity: 0;
  background: #111;
  transition: opacity 0.3s ease-in-out;
}
.images .featured-image p a {
  transition: color 0.3s ease-in-out;
}
.images .featured-image p:hover a {
  color: #ff006a;
}
.images .featured-image img {
  height: 100%;
}

.download-button {
  border: 4px solid #eee;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #eee;
  text-decoration: none;
  padding: 8px 12px;
  text-transform: uppercase;
  transition-property: background, color;
  transition-duration: 0.2s;
  font-weight: 600;
}
.download-button:hover {
  background: #eee;
  color: #111;
}
.download-button i {
  margin-right: 12px;
}

main {
  margin-top: 20px;
}

.about-section {
  justify-content: center;
}
.about-section:first-child section {
  width: 35vw;
}
.about-section section {
  margin: 0 40px;
}
.about-section section h2 {
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 16px;
  letter-spacing: 7px;
}
.about-section section p {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1.6;
  margin-bottom: 12px;
}
.about-section section .embed {
  margin: 0 auto;
  justify-content: center;
}
.about-section section .embed iframe {
  width: 100%;
  height: 100%;
}
.about-section section.videos {
  margin-top: 40px;
  width: 35vw;
}

.scroller {
  overflow-x: scroll;
  margin: 20px 0;
}
.scroller .scrollable {
  margin: 0 16px;
  margin-bottom: 20px;
}
.scroller .scrollable:first-child {
  margin-left: 0;
}
.scroller .scrollable:last-child {
  margin-right: 0;
}
.scroller .scrollable h4, .scroller .scrollable a, .scroller .scrollable p {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333;
  transition: ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff006a;
  cursor: pointer;
}

footer {
  background: #111;
  color: #eee;
  margin-top: 40px;
}
footer .copyright {
  padding: 1rem;
  text-align: center;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
footer .copyright a {
  transition: color 0.2s ease-in-out;
  color: #eee;
}
footer .copyright a:hover {
  color: #ff006a;
}

.contact {
  justify-content: center;
  align-items: center;
  margin-bottom: 20px !important;
}
.contact .title {
  margin-bottom: 20px;
}
.contact-details a {
  color: white;
  text-align: center;
  text-transform: uppercase;
  transition: color, background 0.2s ease-in-out;
}
.contact-details a:hover {
  color: #ff006a;
}

.credits-details.flex-col {
  width: 200px;
  justify-content: space-between;
}

section.credits.flex-col {
  width: 35vw;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

section.contact.flex-col {
  justify-content: space-between;
  width: 35vw;
}

.credits-details.flex-col:last-child {
  text-align: right;
}

.special-thanks.flex-col {
  justify-content: center;
  margin-top: 20px;
  font-size: 12px;
  color: gray;
}

.special-thanks h4.subheading {
  text-align: center;
  width: auto;
  margin-bottom: 12px;
}

.no-small-displays {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}
.no-small-displays .message {
  display: flex;
  align-items: center;
  margin: 0 30px;
  background: #990040;
  width: 300px;
  justify-content: c;
  padding: 8px 16px;
  border-radius: 2px;
}
.no-small-displays .message i {
  font-size: 12vw;
}

@media screen and (max-width: 1200px) {
  .about-section section {
    width: 40%;
  }
  .credits-details.flex-col {
    width: 250px;
  }
  .credits-details.flex-col:last-child {
    text-align: right;
  }
  .special-thanks.flex-col {
    font-size: 12px;
  }
  .special-thanks h4.subheading {
    width: auto;
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 900px) {
  .displayable {
    display: none;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }
  .no-small-displays {
    display: flex;
  }
  h1 {
    padding: 40px;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
